@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --blue: #0f6fc5;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #e83e8c;
    --red: #ca3120;
    --orange: #f0ad4e;
    --yellow: #ff7518;
    --green: #357a32;
    --teal: #20c997;
    --cyan: #008196;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #aa223c;
    --secondary: #ced4da;
    --success: #357a32;
    --info: #008196;
    --warning: #f0ad4e;
    --danger: #ca3120;
    --light: #f8f9fa;
    --dark: #343a40;
}
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 20px;
    border: 1px solid var(--primary);
}

html {
    background-color: var(--primary);
}

* {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: var(--secondary);
}

h1 {
    margin: 5%;
    font-size: clamp(1.5rem, 8vw, 8rem);
    color: var(--primary);
}

h2 {
    margin: 5%;
    font-size: clamp(1.5rem, 4vw, 4rem);
    color: var(--secondary);
}

h3 {
    margin: 2%;
    font-size: clamp(1.5rem, 4vw, 2rem);
    color: var(--primary);
}

h4 {
    margin: 2%;
    font-size: clamp(1rem, 3vw, 2.5rem);
    color: var(--secondary);
}

.App {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.AppSection {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    border-radius: 0%;
    margin: 2rem auto;
    min-height: 30vh;
}
.AppFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.3rem;
    min-height: 3.2rem;
    list-style-type: none;
    font-size: clamp(1rem, 4vw, 0.5rem);
}

.AppLink {
    color: var(--primary);
}

.AppButton {
    transition: all 0.3s ease;
    margin: 2rem;
    border: 2px solid #fff;
    background: var(--primary);
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    font: inherit;
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: 300;
}
.AppButton:hover,
.AppButton:focus,
.AppButton:active {
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--primary);
    border-color: var(--primary);
}

.AppSpinner {
    border: 0.5rem solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border-left-color: var(--secondary);
    width: 4rem;
    height: 4rem;
    animation: spin 1s linear infinite;
}
.AppLoader {
    font-size: 2rem;
    pointer-events: none;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}