@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --main-color: #e4cb58;
    --secondary-color: #000;
}
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--main-color);
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 20px;
    border: 1px solid var(--main-color);
}

html {
    background-color: var(--main-color);
}

* {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 200;
}

h1 {
    margin: 5%;
    font-size: clamp(1.5rem, 8vw, 8rem);
    color: var(--main-color);
}

h2 {
    margin: 5%;
    font-size: clamp(1.5rem, 4vw, 4rem);
    color: var(--secondary-color);
}

section {
    width: 80%;
    border-radius: 0%;
    margin: 2rem auto;
    height: 100vh;
}

.App {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.App-list-repos {
    justify-content: start;
}

.App-header {
    background-color: var(--secondary-color);
}

.App-footer {
    padding: 2rem;
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.App-link {
    color: var(--main-color);
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
