<!-- templates/index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>GitHub TextMining</title>
    {% block styles %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/normalize.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    {% endblock %}
  </head>
    <h1>GitHub TextMining</h1>
    <form id="gh_form">
      <label for="gh_user" class="gh_form_label">
        <!-- <span class="gh_form_label">GitHub Username:</span> -->
        <input type="text" id="gh_user" name="gh_user" placeholder="Github Username" required>
      </label>
      <span>/</span>
      <label for="gh_repo" class="gh_form_label">
        <!-- <span class="gh_form_label">GitHub Repository Name:</span> -->
        <input type="text" id="gh_repo" name="gh_repo" placeholder="Github Repository" required>
      </label>
      <button type="submit" formmethod="post" formaction="task/">Añadir tarea</button>
      <button type="submit" formmethod="get" formaction="task/">Consultar estado</button>
    </form>
    <button type="submit" formmethod="get" formaction="tasks/">Obtener todas las tareas</button>
  </body>
</html>